<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/javascripts/recorder.js"></script>
    <script src="/javascripts/HopeYouLikeJamminToo.js"></script>
  </head>
  <body>
    <center><h1><%= title %></h1></center>
    <span id="wordPlay">play</span>
    <center>PLUG IN HEADPHONES before starting stream.</center><br><br>
    <center><button id="stream">start stream</button></center><br>
    <button id="record"></button>
    <center>
      <button id="playAndRecord">rec</button>
      <button id="playAll">play</button>
    </center>
    <center id="help">help</center>
    <center id="status"></center>
    <div id="progressbar"></div>
      <ul id="recordingslist">
        <% for(var i = 0; i < tracks.length; i++) { %>
          <li>
            <span class="trackName"><%= tracks[i].name %></span><br>
            <audio src="https://wejammin.s3.amazonaws.com/data/<%= tracks[i]._id %>" controls type="audio/x-wav"></audio>
            <button class="removal">X</button>
          </li><br>
        <% } %>
      </ul>
  </body>
</html>
