body
  color:white
  background-color: black
  background-image: url('/images/microphone.jpg')
  background-position: 130% 0%
  background-size: 70%
  background-repeat: no-repeat
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

h1
  font-family: 'Kranky', cursive;
  font-size: 40px

a
  color: #00B7FF

ul
  list-style-type: none
  // position: fixed
  left: 0px
  top:200px

button
  opacity: 0.7

button:hover
  cursor: pointer
  opacity: 1

.rename
  font-size: 9px
  margin-left: 215px
  color: gray
  opacity: 0.8
  position: fixed
  left: 175px

.rename:hover
  cursor: pointer
  opacity: 1

#stream
  background-color: yellow
  border-radius: 20px
  margin-left: 25px
  padding-bottom: 4px

#playAndRecord
  border-radius: 100%
  background-color: red
  padding: 18px
  font-weight: bold
  margin-right: 25px

#playAll
  width: 0
  height: 0
  background: transparent
  border-top: 25px solid transparent
  border-bottom: 25px solid transparent
  border-left: 38px solid green
  border-right: 0
  padding: 0
  position: absolute
  top: 258px

#playAll:active
  top:260px

#status
  font-size: 20px
  color: red
  margin-top:50px

.saved
  border-style: solid
  border-color: blue

#wordPlay
  position: fixed
  top 276px
  left: 645px
  color: black
  font-size: 10px
  z-index: -1
  font-weight: bold
  cursor: pointer
  opacity: 1